<?xml version="1.0" encoding="UTF-8"?>
<root>
	<paremt  name="mc" column="名称" />
	<paremt  name="ppxh" column="品牌" />
	<paremt  name="xh" column="型号"/>
	<paremt  name="gzrq" column="购置日期" />
	<paremt  name="rkrq" column="入库日期"/>
	<paremt  name="qysj" column="启用日期" />
	<paremt  name="bxq" column="保修日期"/>
	<paremt  name="gzje" column="购置金额" />
	<paremt  name="synx" column="使用年限" />
	<paremt  name="bm" column="部门" />
	<paremt  name="syr" column="使用人" />
	<paremt  name="zrr" column="责任人" />
	<paremt  name="sydd" column="使用地点" />
	<paremt  name="zclb" column="资产类别"/>
	<paremt  name="bz" column="备注" />
	<paremt  name="jzlx" column="价值类型"/>
	<paremt  name="jz" column="价值"/>
	<paremt  name="gysmc" column="供应商名称"/>
</root>